{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>NGS Pathfinding Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="{% static 'css/mapPage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}" />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mapLegends.css' %}" />
</head>
<body>
    <div id="map"></div>
    
    <navbar>
      <form id="csrfForm" style="display: none;">
        {% csrf_token %}
      </form>
      <buttons>
        <button id="showSettingButton" onClick="nothing()">
          <img alt="" src="{% static 'images/icons/settings.png' %}"/>
          <div>Map Settings</div>
        </button>
        <button id="showPathButton" onClick="showPathFinding()">
          <img alt="" src="{% static 'images/icons/mapLegend.png' %}"/>
          <div>Show Pathfindings</div>
        </button>
      </buttons>
    </navbar>

      <!--Temporary; To fill up mineral node locations-->
      <!--
    <navbar>
    <div id="form-container">
        <form>
            <div>
                <input type="text" id="nameId" placeholder="mineral id">
              </div>
          <div>
            <input type="text" id="type" placeholder="mineral type">
          </div>
          <div>
            <input type="text" id="region" placeholder="region it is in">
          </div>
        </form>
      </div>
    </navbar>
  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script>
        const STATIC_URL = "{% static '' %}";
    </script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{% static 'js/localDatabase.js' %}"></script>

    <!--Map init-->
    <script src="{% static 'js/mapLoader.js' %}"></script>
    <script src="{% static 'js/iconLoader.js' %}"></script>
    <script src="{% static 'js/sectionLoader.js' %}"></script>

    <!--Marker Loaders-->
    <script src="{% static 'js/markerLoaders/advTrainiaLoader.js' %}"></script>
    <script src="{% static 'js/markerLoaders/ryukerLoader.js' %}"></script>
    <script src="{% static 'js/markerLoaders/magLoader.js' %}"></script>
    <script src="{% static 'js/markerLoaders/towerLoader.js' %}"></script>
    <script src="{% static 'js/markerLoaders/battlediaLoader.js' %}"></script>
    <script src="{% static 'js/markerLoaders/cocoonLoader.js' %}"></script>
    <script src="{% static 'js/markerLoaders/mineralLoader.js' %}"></script>

    <script src="{% static 'js/navbarUtil.js' %}"></script>
  </body>
</html>
