@charset "UTF-8";
@font-face {
  font-family: "NGS Font";
  src: url("./ngsfont.woff") format("woff");
}
* {
  font-family: "NGS Font";
  user-select: none;
  color: white;
  text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
}

body {
  margin: 0px;
}

.leaflet-container {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

navbar {
  z-index: 11;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
}
navbar buttons {
  background: rgba(8, 25, 40, 0.75);
  width: 882px;
  height: 114px;
  margin: -114px auto 0;
  position: relative;
}
navbar buttons::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent rgba(8, 25, 40, 0.75);
  border-width: 0 0 114px 114px;
  position: absolute;
  top: 0;
  left: -114px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
navbar buttons::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent rgba(8, 25, 40, 0.75);
  border-width: 114px 0 0 114px;
  position: absolute;
  top: 0;
  right: -114px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

container {
  display: block;
  position: absolute;
  top: 0;
  height: calc(88% - 2px);
  width: 95%;
  margin: 2.5%;
}

menuicon {
  margin-right: 8px;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: initial;
}
menuicon::before {
  content: "◆︎";
}

closebutton {
  float: right;
  font-size: 26px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}
closebutton:hover, closebutton:active {
  background-color: #A30000;
  border: 2px solid #FF0000;
}
closebutton::before {
  content: "x";
}

window {
  z-index: 8492;
  position: absolute;
  background-color: rgba(26, 39, 43, 0.85);
  border: solid 1px rgb(54, 255, 255);
  display: inherit;
}
window.hidden {
  display: none;
}
window header {
  background-color: rgb(40, 131, 211);
  width: calc(100% - 14px);
  padding-left: 7px;
  padding-right: 7px;
  height: 32px;
  display: flex;
}
window header span {
  font-size: 22px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-flex;
  flex: 1;
  float: left;
}

window#menu-legend columns {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  padding-top: 10px;
  padding-bottom: 6px;
}
window#menu-legend columns category {
  flex-grow: 5;
  display: flex;
  flex-flow: column;
}
window#menu-legend columns category button {
  width: 250px;
  height: 40px;
  margin-left: 6px;
  margin-right: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgba(34, 63, 94, 0.85);
  border: solid 2px rgba(34, 63, 94, 0.85);
}
window#menu-legend columns category button:hover {
  background-color: rgba(63, 95, 142, 0.85);
  border: solid 2px rgba(48, 222, 254, 0.85);
}
window#menu-legend columns category button:active {
  background-color: rgba(133, 91, 29, 0.85);
  border: solid 2px rgba(223, 171, 6, 0.85);
}
window#menu-legend columns category button.active {
  background-color: rgba(86, 124, 180, 0.85) !important;
  border: solid 2px rgba(109, 232, 254, 0.85) !important;
}
window#menu-legend columns items {
  display: none;
}
window#menu-legend columns items.active {
  flex-grow: 5;
  flex-flow: column;
  display: flex !important;
  height: 230px;
  overflow-y: scroll;
}
window#menu-legend columns items.active::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(169, 169, 169, 0.5);
}
window#menu-legend columns items.active::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
window#menu-legend columns items button {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  align-items: baseline;
  font-size: 13px;
  width: 300px;
  height: 30px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgba(52, 56, 60, 0.75);
  border: solid 2px rgba(52, 56, 60, 0.75);
}
window#menu-legend columns items button:hover {
  background-color: rgba(63, 95, 142, 0.75);
  border: solid 2px rgba(48, 222, 254, 0.75);
}
window#menu-legend columns items button:active {
  background-color: rgba(133, 91, 29, 0.75);
  border: solid 2px rgba(223, 171, 6, 0.75);
}
window#menu-legend columns items button label {
  height: 100%;
  margin: 0;
  height: 24px;
}
window#menu-legend columns items button label div {
  color: white !important;
  width: 14px !important;
  height: 14px !important;
  border: 1px solid white !important;
  border-radius: 3px !important;
  margin-right: 6px !important;
}
window#menu-legend columns items button label div span {
  display: inline-block;
  background-color: #30F3FF;
  height: 100%;
  text-align: center;
  font-size: 18px;
  text-shadow: initial;
  color: #3567A9;
  line-height: calc(100% - 2px);
  border-radius: 1px;
}
window#menu-legend columns items button label div span::before {
  content: "✔";
}
window#menu-legend columns items accordion {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}
window#menu-legend columns items accordion button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  align-items: baseline;
  font-size: 13px;
  width: 300px;
  height: 30px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgba(52, 56, 60, 0.9);
  border: solid 2px rgba(52, 56, 60, 0.9);
}
window#menu-legend columns items accordion button:hover {
  background-color: rgba(63, 95, 142, 0.9);
  border: solid 2px rgba(48, 222, 254, 0.9);
}
window#menu-legend columns items accordion button:active {
  background-color: rgba(133, 91, 29, 0.9);
  border: solid 2px rgba(223, 171, 6, 0.9);
}
window#menu-legend columns items accordion button .accordionIcon {
  font-size: 20px;
  position: absolute;
  top: 4px;
  right: 8px;
}
window#menu-legend columns items accordion list {
  display: none;
}
window#menu-legend columns items accordion list.active {
  flex-grow: 5;
  flex-flow: column;
  display: flex !important;
}
window#menu-legend columns items accordion list.active button {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  align-items: baseline;
  font-size: 13px;
  width: 300px;
  height: 30px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: rgba(52, 56, 60, 0.75);
  border: solid 2px rgba(52, 56, 60, 0.75);
}
window#menu-legend columns items accordion list.active button:hover {
  background-color: rgba(63, 95, 142, 0.75);
  border: solid 2px rgba(48, 222, 254, 0.75);
}
window#menu-legend columns items accordion list.active button:active {
  background-color: rgba(133, 91, 29, 0.75);
  border: solid 2px rgba(223, 171, 6, 0.75);
}
window#menu-legend columns items accordion list.active button label {
  height: 100%;
  margin: 0;
  height: 24px;
}
window#menu-legend columns items accordion list.active button label div {
  color: white !important;
  width: 14px !important;
  height: 14px !important;
  border: 1px solid white !important;
  border-radius: 3px !important;
  margin-right: 6px !important;
}
window#menu-legend columns items accordion list.active button label div span {
  display: inline-block;
  background-color: #30F3FF;
  height: 100%;
  text-align: center;
  font-size: 18px;
  text-shadow: initial;
  color: #3567A9;
  line-height: calc(100% - 2px);
  border-radius: 1px;
}
window#menu-legend columns items accordion list.active button label div span::before {
  content: "✔";
}
window#menu-legend columns info {
  flex-grow: 5;
  display: flex;
  flex-flow: column;
  margin-left: 12px;
  margin-right: 6px;
  width: 220px;
}
window#menu-legend columns info background {
  display: block;
  width: 96px;
  height: 96px;
  background-image: url(../../../assets/bg_icon.png);
  background-size: cover;
  opacity: 0.5;
}
window#menu-legend columns info background.common {
  border: solid 2px rgb(40, 131, 211);
  background-color: rgba(40, 131, 211, 0.35);
}
window#menu-legend columns info background.rare {
  border: solid 2px rgb(192, 192, 192);
  background-color: rgba(192, 192, 192, 0.35);
}
window#menu-legend columns info background.very-rare {
  border: solid 2px rgb(255, 215, 0);
  background-color: rgba(255, 215, 0, 0.35);
}
window#menu-legend columns info background.special {
  border: solid 2px rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.35);
}
window#menu-legend columns info background.places {
  border: solid 2px rgb(0, 255, 234);
  background-color: rgba(0, 255, 234, 0.35);
}
window#menu-legend columns info background.matoi {
  border: solid 2px rgb(198, 10, 52);
  background-color: rgba(198, 10, 52, 0.35);
}
window#menu-legend columns info background.purple {
  border: solid 2px rgb(196, 0, 171);
  background-color: rgba(196, 0, 171, 0.35);
}
window#menu-legend columns info img {
  border: solid 2px rgba(0, 0, 0, 0);
  position: absolute;
  width: 96px;
  height: 96px;
  opacity: 0.9;
  pointer-events: none;
}
window#menu-legend columns info name {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow-wrap: break-word;
}
window#menu-legend columns info thesis {
  white-space: pre-wrap;
  font-size: 14px;
  height: 104px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}
window#menu-legend columns info thesis::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(169, 169, 169, 0.5);
}
window#menu-legend columns info thesis::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

/*# sourceMappingURL=mapLegends.css.map */
