@font-face {
    font-family: "NGS Font";
    src: url("./ngsfont.woff") format("woff");
}

* {
    font-family: "NGS Font";
    user-select: none;
    color: white;
    text-shadow: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
}

body {
    margin: 0px;
}

.leaflet-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

navbar {
    z-index: 11;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
}

navbar buttons {
    background: rgba(8, 25, 40, 0.75);
    width: 350px;
    height: 114px;
    margin: -114px auto 0;
    position: relative;
}

navbar buttons::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgba(8, 25, 40, 0.75);
    border-width: 0 0 114px 114px;
    position: absolute;
    top: 0;
    left: -114px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

navbar buttons::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent rgba(8, 25, 40, 0.75);
    border-width: 114px 0 0 114px;
    position: absolute;
    top: 0;
    right: -114px;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

container {
    display: block;
    position: absolute;
    top: 0;
    height: calc(88% - 2px);
    width: 95%;
    margin: 2.5%;
}

.leaflet-container {
    background-color: rgb(26, 67, 121) !important;
}

.leaflet-tooltip {
    background-color: rgba(0, 0, 0, 0);
    border: initial;
    color: initial;
    box-shadow: initial;
    border-radius: initial;
}

.leaflet-tooltip::before {
    border-top-color: rgb(54, 255, 255);
    margin-bottom: -6px;
}

.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0);
    border: initial;
    color: initial;
    box-shadow: initial;
    border-radius: initial;
}

.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    width: initial !important;
    margin: -1px 19px;
}

.leaflet-popup .leaflet-popup-tip-container .leaflet-popup-tip {
    background: rgb(54, 255, 255);
    color: initial;
    box-shadow: initial;
}

.leaflet-popup .leaflet-popup-close-button {
    display: none;
}

.leaflet-interactive {
    cursor: pointer;
    transition: fill-opacity ease 0.4s, stroke-opacity ease 0.4s;
}

navbar buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

navbar buttons button {
    position: relative;
    width: calc(130px * 1.35);
    height: calc(60px * 1.35);
    background-color: rgba(26, 67, 121, 0.85);
    border: solid 2px rgba(29, 33, 42, 0.85);
    margin-left: 4px;
    margin-right: 4px;
}

navbar buttons button:hover {
    background-color: rgba(52, 98, 142, 0.85);
    border: solid 2px rgba(54, 255, 255, 0.85);
}

navbar buttons button:active {
    background-color: rgba(129, 122, 23, 0.85);
    border: solid 2px rgba(129, 122, 23, 0.85);
}

navbar buttons button:hover::before,
navbar buttons button:active::before {
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./bg_button.png");
    background-repeat: no-repeat;
    background-size: cover;
}

navbar buttons button svg,
navbar buttons button img {
    position: absolute;
    width: auto;
    transform: translate(-50%, -50%);
    height: 50px;
    top: 40%;
    pointer-events: none;
}

navbar buttons button div,
navbar buttons button span {
    position: absolute;
    color: white;
    bottom: 5px;
    width: calc(100% - 12px);
}

/*# sourceMappingURL=style.css.map */